{% extends '../layout.html' %}

{% block content %}
    {% parent %}
    <h1>Edit Application</h1>
    <button>Delete Application</button>
{% endblock %}

{% block js-bottom %}
    {% parent %}
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script>
        $('button').on('click', function(){
            $.ajax({
                url: '/account/{{ account.name }}/app/{{ app }}',
                method: 'DELETE'
            }).done(function(data, status, jqXHR){
                console.log(data, jqXHR.status);
                if(jqXHR.status === 200){
                    document.location = '/account/{{ account.name }}/app';
                }
            });
        });
    </script>
{% endblock %}