{% extends '../layout.html' %}

{% block content %}
    {% parent %}
    <h1>Edit account</h1>
    <button>Delete Account</button>
{% endblock %}

{% block js-bottom %}
    {% parent %}
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script>
        $('button').on('click', function(){
            $.ajax({
                url: '/account/{{ account.name }}',
                method: 'DELETE'
            }).done(function(data){
                if(data.result){
                    document.location = '/account/';
                }
            });
        });
    </script>
{% endblock %}